##
# DemoApp - Unit Test Configuration File.
#
# @author		Andy Liebke<coding@andysmiles4games.com>
# @version 		1.1.1 12-Jan-15
# @copyright	Copyright (c) 2014-2015 by Andy Liebke. All rights reserved. (http://andysmiles4games.com)
#

[window]
screen_width = 1024
screen_height = 786
fullscreen = 0

[scene]
enable_light = 0

[image_processor]
ImageProcessorHeightMap = 1
ImagProcessorHistogramHeightMap = 0

[image_processor_settings]
ImageProcessorHeightMap_MaxHeight = 300
