##
# BachelorThesis - GIT Ignore File.
#
# @author		Andy Liebke<coding@andysmiles4games.com>
# @version		1.0.1 21-Dec-14
# @copyright	Copyright (c) 2014 by Andy Liebke. All rights reserved. (http://andysmiles4games.com)
#

##
# OS Related Files.
#
.DS_Store

##
# Temporarly And Executable Files.
#
**/tmp/
**/DemoApp
**/VoxelTerrainDemo/VoxelTerrainDemo
**/MeshTerrainDemo/MeshTerrainDemo
**/ImageParameter/ImageParameter
*.o

##
# Resource Files.
#
Resource

##
# Third Party Libraries And Frameworks.
#
Lib/*
!Lib/README.md