##
# BachelorThesis - GIT Ignore File.
#
# @author       Andy Liebke<coding@andysmiles4games.com>
# @version      1.5.0 14-Jan-15
# @copyright    Copyright (c) 2014-2015 by Andy Liebke. All rights reserved. (http://andysmiles4games.com)
#

##
# OS Related Files.
#
.DS_Store

##
# Temporarly And Executable Files.
#
**/tmp/
**/DemoApp
DemoApp/DemoAppTest
**/VoxelTerrainDemo/VoxelTerrainDemo
**/MeshTerrainDemo/MeshTerrainDemo
**/ImageParameter/ImageParameter
**/PerlinNoiseDemo/DemoPerlinNoise
*.o

##
# Resource Files.
#
*/Resource/*
Prototypes/*/Resource/*
!DemoApp/Resource/HeightMap_10.png
!DemoApp/Resource/Test-LowTerrain.jpg
!DemoApp/Resource/Test-HighTerrain.jpg
!DemoApp/Resource/Test-TerrainSteps.jpg

##
# Third Party Libraries And Frameworks.
#
Lib/*
!Lib/README.md

##
# Documentation Files.
#
**/Doc/Reference